#vodHomePage {
	border: 3px solid black;
	border-radius: 5px;
	position: relative;
	text-align: right;
	height: 406px;
	overflow: hidden;
}
#vodHomePage .categories {
	position: absolute;
	top: 0;
	right: 0;
	list-style: none;
	margin: 15px 25px 0 0;
	width: 114px;
	z-index: 1;
}
#vodHomePage .categories li {
	background: url("../img/vodboxblackfillpattern.png");
	border-radius: 3px;
}
#vodHomePage .categories li button, #vodHomePage .categories li a {
	font: 16px 'FbTypoPasBold';
	color: white;
	text-shadow: 1px 1px 1px #0f1b27;
	background: none;
	height: 27px;
	line-height: 27px;
	display: block;
	margin-bottom: 5px;
	text-align: right;
	width: 100%;
	text-indent: 7%;
}
#vodHomePage .categories li:nth-child(1) button, #vodHomePage .categories li:nth-child(1) a {
	background: url("../img/vodboxlogo.png") no-repeat right -4px;
	height: 70px;
}
#vodHomePage .categories li.active {
	background: url("../img/vodboxgreenfillpattern.png");
}
#vodHomePage .categories li.active button, #vodHomePage .categories li:nth-child(2) a {
	color: #191c1f;
	text-shadow: 1px 1px 1px #7d8719;
}
#vodHomePage .categories li:nth-child(4) button, #vodHomePage .categories li:nth-child(4) a {
	color: #e30613;
	background: url("../img/fire-icon.png") no-repeat 35%;
}

#vodHomePage .carousel {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
#vodHomePage .carousel-indicators {
	display: none;
}
#vodHomePage .carousel-caption {
	width: 341px;
	height: 86px;
	top: 215px;
	left: 32px;
	right: auto;
	text-align: right;
	background: rgba(0, 0, 0, 0.70);
	border-radius: 3px;
	padding: 0;
}
#vodHomePage .carousel-caption img {
	float: left;
	margin: 7px;
}
#vodHomePage .carousel-caption .message {
	padding: 7px 12px;
}
#vodHomePage .carousel-caption p {
	color: white;
	font: 12px arial;
}
#vodHomePage .carousel-caption p.title{
	color: #c3ca4c;
	font-size: 14px;
	font-weight: bold;
}
#vodHomePage .carousel-caption p.rav {
	font-size: 11px;
}

#vodHomePage .carousel-control {
	position: absolute;
	top: 265px;
	left: 10px;
	background: url("../img/vodrightsmall.png") no-repeat;
	width: 16px;
	height: 25px;
	font-size: 0;
	right: auto;
	border: none;
}
#vodHomePage .carousel-control.left {
	left: 380px;
	background: url("../img/vodleftsmall.png") no-repeat;
}

#vodHomePage .imagesList{
	padding: 5px 0 2px;
	width: 100%;
	height: 78px;
	position: absolute;
	bottom: 0;
	background: url("../img/vodboxblackfillpattern.png");
}
#vodHomePage .imagesList ul {
	padding: 0;
	margin: 0;
	text-align: center;
}
#vodHomePage .imagesList li {
	list-style: none;
	display: inline;
	margin: 0 2px;
}
#vodHomePage .imagesList li .imageBottom{
	width: 112px;
	height: 78px;
}
#vodHomePage .imagesList li .btn-success {
	background-color: white;
}
#vodHomePage .imagesList li .btn-success img {
	opacity: 0.5;
}
#vodHomePage .imagesList .nav {
	position: absolute;
	width: 23px;
	height: 36px;
	bottom: 0px;
	opacity: 0.5;
	right: 12px;
	background: url("../img/vodleftbig.png") no-repeat;

}
#vodHomePage .imagesList .nav:hover {
	opacity: 1;
}
#vodHomePage .imagesList .nav.left {
	background: url("../img/vodrightbig.png") no-repeat;
	left: 12px;
	right: auto;
}

#vodHomePage a {
	text-decoration: none;
}
#vodHomePage button {
	border: none;
	background: none;
	padding: 0;
}
#vodHomePage img.backgroundImg {
	width: 100%;
}
