<form class="form-horizontal" data-ng-init="loadUser()">
  <header>Player Details</header>
  <div class="control-group">
    <label class="control-label">First Name:</label>
    <div class="controls">
      <input type="text" placeholder="First name" data-ng-model="currentPlayer.firstName">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Last Name:</label>
    <div class="controls">
      <input type="text" placeholder="Last name" data-ng-model="currentPlayer.lastName">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Email:</label>
    <div class="controls">
      <input type="email" placeholder="Email" data-ng-model="currentPlayer.email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Phone:</label>
    <div class="controls">
      <input type="text" placeholder="Phone" data-ng-model="currentPlayer.phone">
    </div>
  </div>
  <button data-ng-click="save(currentPlayer)" class="submit btn">Save</button>
  <button data-ng-if="currentPlayer" class="btn btn-info" data-ng-click="clear()">Clear</button>

</form>