section h1 {
	text-align: center;
}

.wrapper-board {
	position: relative;
	margin-top: 80px;
}

.wrapper-board .drag-x {
	left: 160px;
}

.wrapper-board .drag-o {
	left: 710px;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.board {
	width: 309px;
	margin: 0 auto;
	position: relative;
}
.board .line .cube {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: solid 1px;
	color: rgb(76, 69, 114);
}

.lvl-over {
	/* applied to a drop target when a draggable object is over it */
	border: 2px dashed black !important;
}

.lvl-target {
	/* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
	/*background-color: #ddd;*/
	/*opacity: .5;*/
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	cursor: move;
	border:1px solid black;
	position: absolute;
	width: 70px;
	height: 70px;
	top: 115px;
	line-height: 70px;
	text-align: center;
	font-size: x-large;
}

.peg {
	text-align: center;
	font-weight: bold;
	border:1px black solid;
	width: 75px;
	margin: 10px;
}

.slot {
	margin-right:2px;
	margin-top:2px;
	width:25;
	height:25px;
	display:inline-block;
	border: none;
}

.o {
	/*background-color: red;*/
	/*background-color: rgba(50, 77, 37, 0.95);*/
}
.o::after { content: "O";
position: absolute;
font-size: -webkit-xxx-large;
line-height: 100px;
margin-left: 30px;
/*color: wheat;
*/
}

.blue {
	background-color: blue;
}

.x {
	/*background-color: green;*/
	/*background-color: rgba(50, 77, 37, 0.95);*/

}

.x::after { content: "X";
position: absolute;
font-size: -webkit-xxx-large;
line-height: 100px;
margin-left: 30px;
/*color: wheat;
*/}

.black {
	background-color: black;
	color: white;
}

.grey {
	background-color: grey;
}

pre strong {
	font-size:12pt;
}

#overlay {
	/*display:none;*/
	position: absolute;
	background-color: rgba(192, 212, 255, 0.44);
	z-index: 10;
	top: 41px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.spinner {
	position: relative;
	margin: 100px auto;
	top: 10%;
	/*left: 50%;*/
	width: 300px;
	height: 300px;
	position: relative;
	text-align: center;

	-webkit-animation: rotate 2.0s infinite linear;
	animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	/*background-color: #333;*/
	background-image: url(../../img/Fireworks1.gif);
	border-radius: 100%;
	background-size: contain;

	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
	top: auto;
	bottom: 0px;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg) }}

@-webkit-keyframes bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
	0%, 100% { transform: scale(0.0) }
	50% { transform: scale(1.0) }
}


.img13 {
	-webkit-animation: rotate3d 4s linear infinite;
}

@-webkit-keyframes rotate3d {
	from {-webkit-transform: rotateY(0deg);}
	to   {-webkit-transform: rotateY(360deg);}
}